  body {
    background-color: black;
    color: #F8F8FF;
  }
  :root {
    --width: 1000px;
    --height: 650px;
  }

  #main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    width: var(--width);
    height: var(--height);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 10;
    border: 1px solid grey;
    background-color: transparent;
    background-image: url('../images/background.png');
  }
  .text-info {
    position: absolute;
    bottom: -30%;
    text-align: center;
    width: 100%;
    font-size: 22px;
  }
  #source-link {
    font-size: 1.4rem;
  }